:root {
	--main_bg_color: white;
	--main_elem_color: black;
	--main_link_color: #0000EE;
	--main_border_color: teal;
}
html{
	margin: 0px;
	background-color: var(--main_bg_color);
	color: var(--main_elem_color);
}
body{
	margin: inherit;
	background-color: inherit;
	color: inherit;
}

header{
	margin: 0px 0px 20px 0px;
	padding-top: 10px;

	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: var(--main_border_color);
	/*box-shadow: 0px 0px 25px 0px var(--main_border_color);*/
	box-shadow: inset 0 -7px 25px -7px var(--main_border_color);

	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
}

nav{
	display: inline;
	font-size: 14px;
	line-height: 30px;
}
nav a:visited {
	color: var(--main_elem_color);
}
nav ul{
	display: inline;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
nav ul > li{
	display: inline;
}
nav ul > li:before{
	content: "| ";
	color: var(--main_border_color);
	font-size: 14px;
}

main{
	margin-left: 5px;
	margin-right: 2%;
}
footer{
	margin: 25px 0px 0px 0px;
	padding: 10px 10px 5px 10px;

	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--main_border_color);
	box-shadow: inset 0 7px 15px -7px var(--main_border_color);

	color: grey;
	text-align: right;
}

body > div, body > details{
	margin-left: 5px;
}
summary > h3{
	display: inline;
}
img{
	max-width: 100%;
}
h1{
	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
	color: grey;
}
a{
	color: var(--main_link_color);
}
li > a > img{
	max-width:16px;
	margin-right:5px;
	vertical-align:text-bottom;
}

li ul{
	margin-top:3px;
	margin-bottom:5px;
}
.detailsList{
	list-style-type: none;
	padding: 0;
}

#siteDate{
	color: grey;
	font-style: italic;
	margin-bottom: 16px;
}

#searchResults{
	display: none;
	border: 1px solid var(--main_border_color);
	font-size: 12px;
	text-align: left;
}
#searchResults > h3{
	padding-left: 3px;
}
#searchResults > ul{
	padding-left: 25px;
}

.img_link{
	max-width: 130px;
	margin: 2px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	margin-left: 0;
}
.flex-container > img{
	align-self: center;
}

.btn{
	display: inline-block;
	padding: 0 3px 0 3px;
	border: 1px solid black;
	font-size: 12px;
}
.btn:hover{
	background-color: #ccc;
}
.closeBtn{
	float: right;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 25px;
	font-size: 16px;
	box-shadow: 0 0 4px 2px var(--main_border_color);
}
.scrollTop{
	display: none;
	font-weight: bold;
	font-size: 15px;
	width: 32px;
}

#switch{
	display: none;
}
label[for=switch] {
	display: inline-block;
	position: relative;
	background: grey;
	width: 32px;
	height: 16px;
	line-height: 16px;
	border-radius: 16px;
	cursor: pointer;
	vertical-align: -28%;
}
label[for=switch]:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	transition: .15s ease-in;
}
#switch:checked + label[for=switch] {
	background: var(--main_border_color);
}
#switch:checked + label[for=switch]:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.redspan{
	color: red;
}
.highlight{
	background-color: chocolate;
}

.hseparator{
	display: flex;
	align-items: center;
	text-align: center;
	width: 415px;
	margin: 25px 0 8px 0;
	color: var(--main_elem_color);
}
.hseparator::before, .hseparator::after{
	content: '';
	height: 2px;
	flex: 1;
	border: 1px solid var(--main_elem_color);
	border-right: 0;
	border-left: 0;
}


@media screen and (max-width:780px){
	ul{
		padding-left: 28px;
		margin-left: 0;
	}
	li {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width:500px){
	footer{
		font-size: 3.2vw;
	}
	.scrollTop{
		display: initial;
	}
}