:root {
	--main_bg_color: white;
	--main_elem_color: black;
	--main_link_color: #0000EE;
	--main_border_color: #A8C3BC;

	margin: 0;
	background-color: var(--main_bg_color);
	color: var(--main_elem_color);
}
body{
	margin: inherit;
}

header{
	margin: 0px 0px 20px 0px;
	padding-top: 10px;

	background-color: var(--main_bg_color);
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: var(--main_border_color);
	/*box-shadow: 0px 0px 25px 0px var(--main_border_color);*/
	box-shadow: inset 0 -7px 25px -7px var(--main_border_color);

	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
	position: relative;
	z-index: 1;
}
header nav{
	display: inline;
	font-size: 14px;
	line-height: 30px;
}
header nav a {
	display: inline-block;
	color: var(--main_elem_color);
	padding-left: 4px;
	padding-right: 4px;
}
nav a:hover {
	background-color: rgba(150,150,150,.3);
}
header nav ul > li{
	font-size: 14px;
}
header nav ul > li:before{
	content: "|";
	color: var(--main_border_color);
	font-size: 14px;
}

nav ul{
	display: inherit;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
nav ul > li{
	display: inherit;
}

#sidebar, #sidebarBtn{
	background-color: var(--main_bg_color);
	position: fixed;
	top: 0;
	right: 0;
}
#sidebar{
	box-sizing: border-box;
	width: 175px;
	height: 100vh;
	padding-top: 80px;
	padding-bottom: 35px;

	border-left: 3px solid var(--main_border_color);
	box-shadow: inset 10px 0px 15px -7px var(--main_border_color);
	text-align: center;
	overflow: hidden;
}
#sidebar > div{
	box-sizing: inherit;
	height: 100%;
	padding-left: 8px;
	overflow-y: auto;
	scrollbar-width: 0;
}
#sidebar > div::-webkit-scrollbar {
	display: none;
}
#sidebar a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 7px 3px 7px 18px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: initial;
	text-decoration: none;
	display: list-item;
	list-style-type: decimal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#sidebarBtn{
	border: 1px solid grey;
	border-right: none;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: var(--main_link_color);
	height: 20px;
	margin-top: 80px;
	z-index: 1;
}

main{
	margin-left: 5px;
	margin-right: 2%;
	max-width: 89%;
}
footer{
	margin: 25px 0px 0px 0px;
	padding: 10px 10px 5px 10px;

	background-color: var(--main_bg_color);
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--main_border_color);
	box-shadow: inset 0 7px 15px -7px var(--main_border_color);

	color: grey;
	text-align: right;
	position: relative;
}

body > div, body > details{
	margin-left: 5px;
}
summary{
	width:fit-content;
}
summary > h3, h4{
	display: inline;
}
details img{
	max-width: 45vw;
	vertical-align: top;
}
img{
	max-width: 100%;
}
h1{
	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
	color: grey;
}

a{
	color: var(--main_link_color);
}
a[href^="https://youtu"], a[href^="https://www.youtu"],
a[href*="bitchute.com"],
a[href*="telegram.ee"],
a[href*="in5d.com"]:not([href$=".jpg"]),
a[href*="stolenhistory."]:not([class="afterNote"]),
a[href^="ajalugu"]{
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 20px;
}
a[href^="https://youtu"], a[href^="https://www.youtu"]{
	background-image: url("https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico");
}
a[href*="bitchute.com"]{
	background-image: url("../images/icon_bitchute.png");
}
a[href*="telegram.ee"]{
	background-image: url("https://www.telegram.ee/wp-content/themes/telegram/favicon/favicon.ico");
}
a[href*="in5d.com"]:not([href$=".jpg"]){
	background-image: url("https://in5d.com/wp-content/uploads/2019/03/cropped-favicon5-32x32.jpg");
}
a[href*="stolenhistory."]:not([class="afterNote"]){
	background-image: url("https://stolenhistory.net/styles/default/xenforo/favicon.png");
}
a[href^="ajalugu"]{
	background-image: url("../images/iconc16.png");
}


li > details{
	margin-bottom: 5px;
}
li > details > summary::-webkit-details-marker{
	display: none;
}
li.noBullet{
	list-style: none;
	margin-left: -20px;
}
li.noBullet > details{
	text-indent: 3px;
}
li > ul{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 30px;
}
.detailsList{
	margin-block-start: 1em;
    margin-block-end: 1em;
}
.detailsList ul{
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.detailsList > details{
	margin-bottom: 3px;
}
.detailsList > details:not([open]) > summary, details:not([open]) > summary.link{
	color: var(--main_link_color);
	cursor: pointer;
	text-decoration: underline;
}

#siteDate{
	color: grey;
	font-style: italic;
	margin-bottom: 16px;
}

#searchbar{
	margin-left: 4px;
}
#searchbar + button{
	margin-right: 4px;
	padding-top: 0;
}
#searchResults{
	display: none;
	border: 1px solid var(--main_border_color);
	font-size: 12px;
	text-align: left;
}
#searchResults > h3{
	padding-left: 3px;
}
#searchResults > ul{
	padding-left: 25px;
}
#searchResults li > a{
	background: none;
	padding-left: initial;
}

.img_link{
	max-width: 130px;
	margin: 2px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	margin-left: 0;
}
.flex-container > img{
	align-self: center;
}
.spaced{
	justify-content: space-between;
}

.btn{
	display: inline-block;
	padding: 0 3px 0 3px;
	border: 1px solid black;
	font-size: 12px;
}
.btn:hover{
	background-color: #ccc;
}
.closeBtn{
	float: right;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 25px;
	font-size: 16px;
	box-shadow: 0 0 4px 2px var(--main_border_color);
}
.backBtn{
	color: var(--main_bg_color);
	font-size: 15px;
	margin-right: 20px;
}
.backBtn:before{
	display: inline-block;
	text-decoration: none;
	content: "<";
	margin-right: 3px;
}
.backBtn:hover {
	background-color: rgba(150,150,150,.4);
}
#scrollTop{
	display: none;
	font-weight: bold;
	font-size: 15px;
	width: 32px;
}

#switch{
	display: none;
}
.switchContainer{
	font-size: 12px;
	font-weight: bold;
}
.switchContainer:before{
	content: "Tume taust: ";
	white-space: pre;
}
label[for=switch] {
	display: inline-block;
	position: relative;
	background: grey;
	width: 32px;
	height: 16px;
	line-height: 16px;
	border-radius: 16px;
	cursor: pointer;
	vertical-align: -28%;
}
label[for=switch]:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	transition: .15s ease-in;
}
#switch:checked + label[for=switch] {
	background-color: var(--main_border_color);
}
#switch:checked + label[for=switch]:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.red{
	color: red;
}
.highlight{
	background-color: chocolate;
}
.afterNote:before, .afterNote:after{
	display: inline-block;
	color: var(--main_elem_color);
	text-decoration: none;
}
.afterNote:before{
	content: '(-';
}
.afterNote:after{
	content: '-)';
}
.strikethrough{
	text-decoration: line-through;
	opacity: 0.72;
}
.centered{
	text-align: center;
}
.centeredImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

.heldByEris{
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	line-height:32px;
	text-align:center;
}
.heldByEris p{
	line-height:initial;
	text-align:inherit;
}
.heldByEris:before, .heldByEris:after{
	content: "";
	background-image: url("../images/handoferis.png");
	background-position: center;
	background-repeat: no-repeat;
	min-width: 32px;
	min-height: 32px;
}
.heldByEris:before{
	padding-right: 15px;
}
.heldByEris:after{
	padding-left: 15px;
}

.hseparator{
	display: flex;
	align-items: center;
	text-align: center;
	width: 415px;
	max-width: 100%;
	margin: 25px 0 8px 0;
}
.hseparator::before, .hseparator::after{
	content: '';
	height: 2px;
	flex: 1;
	border: 1px solid var(--main_elem_color);
	border-right: 0;
	border-left: 0;
}


@media screen and (max-width:900px){
	.centeredImg{
		max-width: 90%;
	}
}
@media screen and (max-width:780px){
	ul{
		padding-left: 28px;
		margin-left: 0;
	}
	li {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	#sidebar{
		display: none;
	}
}
@media screen and (max-width:500px){
	footer{
		font-size: 3.2vw;
	}
	#scrollTop{
		display: initial;
	}
}