:root {
	--main_bg_color: white;
	--main_elem_color: black;
	--main_link_color: #0000EE;
	--main_border_color: teal;
}
html{
	margin: 0px;
	background-color: var(--main_bg_color);
	color: var(--main_elem_color);
}
body{
	margin: inherit;
	background-color: inherit;
	color: inherit;
}
header{
	margin: 0px 0px 20px 0px;
	padding-top: 10px;

	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: var(--main_border_color);
	/*box-shadow: 0px 0px 25px 0px var(--main_border_color);*/
	box-shadow: inset 0 -7px 25px -7px var(--main_border_color);

	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
}
header > * > a:visited {
	color: var(--main_elem_color);
}
header > div > span{
	color: var(--main_border_color);
}
main{
	margin-left: 5px;
	margin-right: 2%;
}
footer{
	margin: 25px 0px 0px 0px;
	padding: 10px 10px 5px 10px;

	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--main_border_color);
	box-shadow: inset 0 7px 15px -7px var(--main_border_color);

	color: grey;
	text-align: right;
}
body > div, body > details{
	margin-left: 5px;
}
summary > h3{
	display:inline;
}
img{
	max-width: 100%;
}
h1{
	text-align: center;
	font-family: 'Arial';
	font-size: 22px;
	color: grey;
}
a{
	color: var(--main_link_color);
}
li > img{
	max-width:16px;
	margin-right:5px;
	vertical-align:text-top;
}

li ul{
	margin-top:3px;
	margin-bottom:5px;
}

.detailsList{
	list-style-type:none;padding:0;
}

.img_link{
	max-width: 130px;
	margin: 2px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	margin-left: 0;
}
.flex-container > img{
	align-self: center;
}

.btn{
	margin: 0;
	font-size: 12px;
	padding-bottom: 0px;
	padding-top: 0px;
	border: none;
	display: inline-block;
}
.btn:hover{
	background-color: #ccc;
}
.closeBtn{
	float:right;
	margin-right:25px;
	font-size:16px;
	box-shadow: 0 0 4px 2px var(--main_border_color);
}

.redspan{
	color: red;
}

#searchResults{
	display: none;
	border: 1px solid var(--main_border_color);
	font-size: 12px;
	text-align: left;
}

.hseparator{
	display: flex;
	align-items: center;
	text-align: center;
	width: 415px;
	margin: 25px 0 8px 0;
	color: var(--main_elem_color);
}
.hseparator::before, .hseparator::after{
	content: '';
	height: 2px;
	flex: 1;
	border: 1px solid var(--main_elem_color);
	border-right: 0;
	border-left: 0;
}


@media screen and (max-width:780px){
	ul{
		padding-left: 28px;
		margin-left: 0;
	}
	li {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width:500px){
	footer{
		font-size: 3.2vw;
	}
}